.header {
  background: #5236c3;
  color: #fff;
  padding: 5px 0;
  margin-bottom: 20px;
}

.header .site-title {
  margin: 10px 10px;
}

.header .site-title {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}