ul.sidebar-menu {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-left: 0;
}

ul.sidebar-menu li {
  display: inline-block;
  margin: 5px;
  background: #ded9d9;
  padding: 5px;
  width: 100%;
}

ul.sidebar-menu li a {
  color: #333;
  width: 100%;
  display: block;
}

ul.sidebar-menu li:hover,
ul.sidebar-menu li.active {
  background: #6758de
}

ul.sidebar-menu li:hover a,
ul.sidebar-menu li.active a {
  color: #fff;
  text-decoration: none;
}